<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Taller MEAN</title>
	<link rel="stylesheet"  href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="controlador">

<section>
	<div class="container">
		<dir class="row">
			<dir class="col-md-6">
				<dir class="contenedor-form">
					<label for="name">Name</label>
					<input type="text" ng-model="name" placeholder="Pancracia Condori" required>
					<input type="button" ng-click="agregar(name)" value="Enviar" class="btn btn-primary">
				</dir>
			</dir>
			<dir class="col-md-6">
				<dir class="res" ng-repeat="item in items">
					<h4>{{item.name}}</h4>
				</dir>
			</dir>
		</dir>
	</div>
</section>



	<h2>{{ name }}</h2>
	<div class="alert alert-success" role="alert">{{ name }}</div>
	<div class="alert alert-info" role="alert">{{ name }}</div>
	<div class="alert alert-warning" role="alert">{{ name }}</div>
	<div class="alert alert-danger" role="alert">{{ name }}</div>



	<script src="/bower_components/angular/angular.js"></script>
	<script src="/controllers/index.js"></script>
</body>
</html>