<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Taller MEAN</title>
	<link rel="stylesheet"  href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="controlador">

<section>
	<div class="container">
		<dir class="row">
			<dir class="col-md-6">
				<dir class="contenedor-form">
					<label for="name">Name</label>
					<input type="text" ng-model="name" placeholder="Pancracia Condori" required>
					<input type="button" ng-click="agregar(name)" value="Enviar" class="btn btn-primary">
				</dir>
			</dir>
		</dir>
	</div>
</section>

	<dir class="col-md-6">
		<dir class="res" ng-repeat="item in items">
		 	<ul class="list-group">
		  		<li class="list-group-item list-group-item-info">{{item.name}}</li>
			</ul>
		</dir>
	</dir>




	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/socket.io.client/dist/socket.io-1.3.5.js"></script>
	<script src="/controllers/index.js"></script>
</body>
</html>